In [2]:
import pandas as pd
df=pd.read_csv("./data/uy_properties.csv")

In [3]:
import datetime
datetime.datetime.strptime("2020-02-16", "%Y-%m-%d").strftime("%Y-%m")

'2020-02'

In [4]:
# prepare created_on_month column
df['created_on_month'] = df.apply(lambda row: datetime.datetime.strptime(row.created_on, "%Y-%m-%d").strftime("%Y-%m"), axis=1)
df['created_on_month']

0        2020-02
1        2020-02
2        2020-02
3        2020-02
4        2020-02
          ...
43598    2020-01
43599    2020-01
43600    2020-01
43601    2020-01
43602    2020-01
Name: created_on_month, Length: 43603, dtype: object

In [10]:
for column in df.columns:
    print(column)

id
ad_type
start_date
end_date
created_on
lat
lon
l1
l2
l3
l4
l5
l6
rooms
bedrooms
bathrooms
surface_total
surface_covered
price
currency
price_period
title
description
property_type
operation_type
created_on_month

In [15]:
df[['created_on_month', 'price']].groupby('created_on_month').sum()

                         price
created_on_month
2019-03           3.218143e+08
2019-04           2.967762e+08
2019-05           2.913542e+08
2019-06           3.287551e+08
2019-07           2.425934e+08
2019-08           2.599472e+08
2019-09           2.172331e+08
2019-10           3.912158e+08
2019-11           5.668791e+09
2019-12           2.708058e+08
2020-01           5.101744e+08
2020-02           6.403567e+08
2020-03           9.420562e+08