In [3]:
%%time
import pandas as pd
import datetime

CPU times: user 6 µs, sys: 1e+03 ns, total: 7 µs
Wall time: 9.06 µs

In [14]:
%%time


columnbia_df=pd.read_csv("./data/in/co_properties.csv")


# prepare created_on_month column
columnbia_df['created_on_month'] = columnbia_df.apply(lambda row: datetime.datetime.strptime(row.created_on, "%Y-%m-%d").strftime("%Y-%m"), axis=1)
columnbia_df['created_on_month']

CPU times: user 45.4 s, sys: 822 ms, total: 46.2 s
Wall time: 46.3 s

0         2019-06
1         2019-06
2         2019-06
3         2019-06
4         2019-06
           ...
970063    2019-03
970064    2019-03
970065    2019-03
970066    2019-03
970067    2019-03
Name: created_on_month, Length: 970068, dtype: object

In [16]:
%%time

columnbia_df

columnbia_df[['id', 'price', 'created_on_month']].to_csv('./data/out/co_properties.csv')

CPU times: user 3.17 s, sys: 105 ms, total: 3.28 s
Wall time: 3.31 s

In [28]:
%%time
columnbia_df[['created_on_month', 'price']].groupby('created_on_month').sum()

CPU times: user 338 ms, sys: 95.9 ms, total: 433 ms
Wall time: 432 ms

                         price
created_on_month
2019-03           6.909590e+13
2019-04           2.213478e+13
2019-05           2.695536e+13
2019-06           2.174664e+13
2019-07           5.173655e+13
2019-08           2.152434e+13
2019-09           1.662185e+13
2019-10           3.105528e+13
2019-11           5.862246e+13
2019-12           3.475707e+13
2020-01           7.096540e+13
2020-02           4.322675e+13
2020-03           3.735136e+13

In [29]:
%%time


uruguay_df=pd.read_csv("./data/in/uy_properties.csv")


# prepare created_on_month column
uruguay_df['created_on_month'] = uruguay_df.apply(lambda row: datetime.datetime.strptime(row.created_on, "%Y-%m-%d").strftime("%Y-%m"), axis=1)
uruguay_df['created_on_month']

CPU times: user 2.32 s, sys: 86.6 ms, total: 2.41 s
Wall time: 2.42 s

0        2020-02
1        2020-02
2        2020-02
3        2020-02
4        2020-02
          ...
43598    2020-01
43599    2020-01
43600    2020-01
43601    2020-01
43602    2020-01
Name: created_on_month, Length: 43603, dtype: object

In [30]:
%%time
uruguay_df[['created_on_month', 'price']].groupby('created_on_month').sum()

CPU times: user 20.6 ms, sys: 2.87 ms, total: 23.5 ms
Wall time: 22.4 ms

                         price
created_on_month
2019-03           3.218143e+08
2019-04           2.967762e+08
2019-05           2.913542e+08
2019-06           3.287551e+08
2019-07           2.425934e+08
2019-08           2.599472e+08
2019-09           2.172331e+08
2019-10           3.912158e+08
2019-11           5.668791e+09
2019-12           2.708058e+08
2020-01           5.101744e+08
2020-02           6.403567e+08
2020-03           9.420562e+08